*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#containerNewVehiculo {
    width: 100%;
    background: lightcoral;
}


.rowDato:hover {
    background: lightgrey;
}

#tablaGral{
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

#tablaFiltrada{
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

thead{
    background: rgb(70, 180, 199);
    color: white;
}